/* fonts */
@font-face {
    font-family: 'header-font';
    src: url('./PlaywriteRO-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'body-font';
    src: url('./PlayfairDisplay-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
/* global variables */
:root {
    --header-font: 'header-font', sans-serif; 
    --body-font: 'body-font', serif; 

    --pink-color:#FB9EC6;
}
vaadin-dialog-overlay::part(header) {
    font-family: var(--header-font);
}
vaadin-grid-cell-content{
    font-family: monospace;
    --vaadin-grid-cell-content-focused-label-color: var(--pink-color);
}
vaadin-text-field{
    font-family: monospace;
}
vaadin-checkbox{
    font-family: monospace;
}
vaadin-checkbox[focused]{
    --vaadin-checkbox-checkmark-color: white;
    --vaadin-input-field-focused-label-color: var(--pink-color);
    --vaadin-checkbox-background: var(--pink-color);
    font-family: monospace;
}
vaadin-checkbox[checked]{
    --vaadin-checkbox-background: var(--pink-color);
}
vaadin-combo-box{
    font-family: monospace;
    --vaadin-input-field-focused-label-color: var(--pink-color);
}
vaadin-integer-field{
    font-family: monospace;
    --vaadin-input-field-focused-label-color: var(--pink-color);
}
vaadin-date-time-picker::part(label){
    font-family: monospace;
    color: var(--pink-color);
}
vaadin-date-time-picker{
    font-family: monospace;
    color: var(--pink-color);
}
vaadin-date-time-picker[focused]::part(input-field){
    border-color: var(--pink-color);
}
vaadin-tab{
    font-family: monospace;
    color: var(--pink-color);
}
vaadin-tab::part(label){
    font-family: monospace;
    color: var(--pink-color);
}
/*pages*/
.page {
    background-color: white;
}
/*components*/
.logo{
    font-family: var(--header-font);
    color: var(--pink-color);
    font-size: 2rem;
}
.header-button{
    background-color: var(--pink-color);
    color: white;
    font-family: var(--header-font);
}